<!DOCTYPE html>
<html>
  <head>
    <title>Pokedex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.POKEMON_TYPES = <%=raw Pokemon::TYPES %>
    </script>
  </head>

  <body>
    <header>
      <a href="/#"><img src="./assets/pokeball.svg" alt="pokedex"></a>
    </header>

    <%= yield %>
  </body>
</html>
