<h1 class="goal_title"><%= @goal.title %></h1>
<p><%= @goal.details %></p>
<p>Status: <%= @goal.completed ? 'Completed' : 'Ongoing' %></p>
<%= render 'shared/goal_complete' if current_user == @goal.user %>

<%= link_to 'Edit goal', edit_goal_path(@goal) if current_user == @goal.user %>
<%= link_to 'Delete goal', goal_path(@goal), method: :delete if current_user == @goal.user %>
