<!DOCTYPE html>
<html>
  <head>
    <title>RedditClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <% if current_user %>
        <li><%= link_to current_user.username, user_path(current_user) %></li>
        <li><%= link_to 'Sign out', session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', new_session_path %></li>
        <li><%= link_to 'Sign up', new_user_path %></li>
      <% end %>
    </ul>
    <%= yield %>
  </body>
</html>
