<% action_url = cat.persisted? ? cat_path(cat) : cats_path %>
<% submit_text = cat.persisted? ? "Update Cat" : "Create Cat" %>
<% form_method = cat.persisted? ? "PATCH" : "POST" %>

<form action="<%= action_url %>" method="POST">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for="name">Name:</label>
  <input type="text" name="cat[name]" id="name" value="<%= cat.name %>">
  <br>

  <span>Gender:</span>
  <label for="male">Male</label>
  <input type="radio" name="cat[sex]" id="male" value="m" <%= "checked" if cat.sex == "m" %>> 
  <label for="female">Female</label>
  <input type="radio" name="cat[sex]" id="female" value="f" <%= "checked" if cat.sex == "f" %>>
  <br>

  <label for="color">Color:</label>
  <select name="cat[color]" id="color">
    <option disabled selected value="">Select a color</option>
    <% Cat::COLORS.each do |color| %>
      <option value="<%= color %>" <%= "selected" if cat.color == color %>><%= color %></option>
    <% end %>
  </select>
  <br>

  <label for="birthdate">Birthdate:</label>
  <input type="date" name="cat[birth_date]" id="birthdate" value="<%= cat.birth_date %>">
  <br>

  <label for="description">Description:</label>
  <textarea name="cat[description]" id="description"><%= cat.description %></textarea>
  <br>
  
  <input type="submit" value="<%= submit_text %>">
</form>