<% action_path = sub.persisted? ? sub_path(sub) : subs_path %>
<% form_method = sub.persisted? ? "PATCH" : "POST" %>
<% button_text = sub.persisted? ? "Update Sub" : "Create Sub" %>

<form action="<%= action_path  %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= form_method %>">

  <label for="sub_title">Title</label>
  <input type="text" name="sub[title]" id="sub_title" value="<%= sub.title %>">
  <br>

  <label for="sub_description">Description</label>
  <textarea name="sub[description]" id="sub_description"><%= sub.description %></textarea>
  <br>

  <input type="submit" value="<%= button_text %>">
</form>
