<!DOCTYPE html>
<html>
<head>
  <title>CapyParty</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p><a href="<%= capys_url %>">All Capys</a></p>

<%= yield %>

</body>
</html>
